@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@utility text-preset-0 {
	@apply font-[Space_Mono] text-[26px] leading-[100%] font-bold tracking-normal;
}

@utility text-preset-1 {
	@apply font-[Space_Mono] text-[26px] leading-[120%] font-bold tracking-[0px];
}

@utility text-preset-2 {
	@apply font-[Space_Mono] text-[22px] leading-[140%] font-bold tracking-[0px];
}

@utility text-preset-3 {
	@apply font-[Space_Mono] text-[18px] leading-[140%] font-normal tracking-[0px];
}

@utility text-preset-3-mobile {
	@apply font-[Space_Mono] text-[13px] leading-[140%] font-normal tracking-[0px];
}

@utility text-preset-4 {
	@apply font-[Space_Mono] text-[16px] leading-[150%] font-normal tracking-[0px];
}

@utility text-preset-5 {
	@apply font-[Space_Mono] text-[16px] leading-[150%] font-bold tracking-[0px];
}

@utility text-preset-6 {
	@apply font-[Space_Mono] text-[15px] leading-[150%] font-normal tracking-[0px];
}

@utility text-preset-7 {
	@apply font-[Space_Mono] text-[13px] leading-[150%] font-normal tracking-[0px];
}

@utility text-preset-8 {
	@apply font-[Space_Mono] text-[13px] leading-[140%] font-bold tracking-[2.5px];
}

@utility shadow {
	box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

@utility dark-outline {
	@apply outline-blue-500 outline-2 outline-offset-2;
}

@utility light-outline {
	@apply outline-blue-300 outline-2 outline-offset-2;
}

@utility animate-colors {
	@apply transition-colors duration-2000 ease-in-out;
}

@theme {
	--color-neutral-900: #141d2f;
	--color-neutral-800: #1e2a47;
	--color-neutral-700: #2b3442;
	--color-neutral-500: #4b6a9b;
	--color-neutral-300: #697c9a;
	--color-neutral-200: #90a4d4;
	--color-neutral-100: #f6f8ff;
	--color-neutral-0: #ffffff;
	--color-blue-300: #60abff;
	--color-blue-500: #0079ff;
	--color-red-500: #f74646;
}
