@import 'tailwindcss';

@layer components {
	.text-preset-1 {
		@apply font-mono text-[26px] leading-[120%] font-bold tracking-[0px];
	}

	.text-preset-2 {
		@apply font-mono text-[22px] leading-[140%] font-bold tracking-[0px];
	}

	.text-preset-3 {
		@apply font-mono text-[18px] leading-[140%] font-normal tracking-[0px];
	}

	.text-preset-3-mobile {
		@apply font-mono text-[13px] leading-[140%] font-normal tracking-[0px];
	}

	.text-preset-4 {
		@apply font-mono text-[16px] leading-[150%] font-normal tracking-[0px];
	}

	.text-preset-5 {
		@apply font-mono text-[16px] leading-[150%] font-bold tracking-[0px];
	}

	.text-preset-6 {
		@apply font-mono text-[15px] leading-[150%] font-normal tracking-[0px];
	}

	.text-preset-7 {
		@apply font-mono text-[13px] leading-[150%] font-normal tracking-[0px];
	}

	.text-preset-8 {
		@apply font-mono text-[13px] leading-[140%] font-bold tracking-[2.5px];
	}
}

@theme {
	--color-neutral-900: #141d2f;
	--color-neutral-800: #1e2a47;
	--color-neutral-700: #2b3442;
	--color-neutral-500: #4b6a9b;
	--color-neutral-300: #697c9a;
	--color-neutral-200: #90a4d4;
	--color-neutral-100: #f6f8ff;
	--color-neutral-0: #ffffff;
	--color-blue-300: #60abff;
	--color-blue-500: #0079ff;
	--color-red-500: #f74646;

	--spacing-0: 0px;
	--spacing-25: 2px;
	--spacing-50: 4px;
	--spacing-75: 6px;
	--spacing-100: 8px;
	--spacing-125: 10px;
	--spacing-150: 12px;
	--spacing-200: 16px;
	--spacing-250: 20px;
	--spacing-300: 24px;
	--spacing-400: 32px;
	--spacing-500: 40px;
	--spacing-600: 48px;
	--spacing-800: 64px;
	--spacing-1000: 80px;
}
